@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 75vh;
}

.nomeIntegrante{
    color: white;
}

.imagemSeta{
    margin-bottom: 60px;
}

.imagemIntegrante{
    border-radius: 10px;
}