.content {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.grid {
    background-color: white;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 20px;
}

.title {
    background-color: rgb(226, 226, 226);
    border-radius: 5px 5px 0 0;
}

.divInteresses,
.divInfluencias,
.divMetas,
.divNecessidades,
.divMotivacoes,
.divDores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    height: 20vh;
    background-color: red;

    border-radius: 3px;
    padding: 7px;
    align-items: center;
}

.describe {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.divInteresses {
    background-color: #85E0A3;
}

.divInfluencias {
    background-color: #FFAFA3;
}

.divMetas {
    background-color: #80CAFF;
}

.divNecessidades {
    background-color: #FFC776;
}

.divMotivacoes {
    background-color: #D9B8FF;
}

.divDores {
    background-color: #FFD966;
}

@media (max-width:700px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .grid {
        flex-direction: column;
    }

    .describe {
        display: flex;
        gap: 25px
    }

    .divInteresses,
    .divInfluencias,
    .divMetas,
    .divNecessidades,
    .divMotivacoes,
    .divDores {
        width: 33%;
    }
}

@media (max-width:370px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .grid {
        height: auto;
    }

    .describe {
        flex-direction: column;
    }

    .divInteresses,
    .divInfluencias,
    .divMetas,
    .divNecessidades,
    .divMotivacoes,
    .divDores {
        width: 80%;
    }
}